
<div class="container">
    <h1><i class="fas fa-check-circle"></i> ¡Registro Exitoso!</h1>
    <p><i class="fas fa-info-circle"></i> ¡Tus datos han sido registrados con éxito en nuestra plataforma!</p>
    <p><i class="fas fa-envelope"></i> En breve, recibirás un correo electrónico en el email que registraste.</p>
    <p><i class="fas fa-exclamation-circle"></i> En el correo, te explicaremos los pasos a seguir para continuar con el proceso de alta en la plataforma.</p>
    <p><i class="fas fa-heart"></i> Gracias por unirte a nosotros.</p>
    <p><i class="fas fa-window-close"></i> Puedes cerrar esta pestaña.</p>
  </div>