<div class="contenedor">
  <!-- phone-input.component.html -->
  <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="phone">{{ title }} </label>
      <div class="phone-input">
        <select
          class="form_input select-phone"
          id="country"
          formControlName="country"
          (change)="onCountryChange($event)"
        >
          @for (country of countries; track $index) {
          <option [value]="country.dialCode">
            {{ country.flag }} ({{ country.dialCode }})
          </option>
          }
        </select>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          class="form_input"
        />
      </div>
      @if ( phoneForm.get("phone")?.invalid && phoneForm.get("phone")?.touched)
      {
      <div class="error-message">Proporciona un numero valido.</div>
      }
    </div>
  </form>
</div>
