<div class="contenedor">
    <!-- phone-input.component.html -->
<form [formGroup]="phoneForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="country">País</label>
      <select
      class="form_input"
        id="country"
        formControlName="country"
        (change)="onCountryChange($event)"
      >
        @for (country of countries; track $index) {
        <option [value]="country.dialCode">
          {{ country.flag }} {{ country.name }} ({{ country.dialCode }})
        </option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="phone">Número de Teléfono</label>
      <div class="phone-input">
        <input
          type="text"
          id="dialCode"
          [value]="selectedDialCode"
          disabled
          class="form_input"
        />
        <input
          type="text"
          id="phone"
          formControlName="phone"
          class="form_input"
        />
      </div>
    </div>
  </form>
</div>
