<div class="login-page">
  <div class="form">
    <img
      src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/testing-logo-design-template-ce84480d61b3db9a8e1522a99875832f_screen.jpg?ts=1615794516"
      alt="logo"
      width="250px"
    />
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="">
        @if (loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')) {
          <mat-error>El correo electrónico no es válido.</mat-error>
        }
        @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>El correo electrónico es requerido.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Contrasena</mat-label>
        <input type="password" matInput formControlName="password" placeholder="">
        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>La contrasena es requerida.</mat-error>
        }
      </mat-form-field>

    
        <button style="width: 100%;"  type="submit" mat-flat-button>Entrar</button>

    </form>
  </div>
</div>
