<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 mat-dialog-title>
    <strong>{{ data.action }} Invitacion</strong>
  </h3>
  <div class="contenedor">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> ENCABEZADO PRINCIPAL </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-dialog-content class="mat-typography">
        <mat-form-field>
          <mat-label>Nombre de la persona del evento</mat-label>
          <input matInput type="text" formControlName="banner_name" />
          @if (form.controls['banner_name'].hasError('required') &&
          form.controls['banner_name'].touched ) {
          <mat-error>Este campo es obligatorio*.</mat-error>
          }
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label
            >Anade una frase de bienvenida para tu invitacion</mat-label
          >
          <input matInput type="text" formControlName="banner_slogan" />
          @if (form.controls['banner_slogan'].hasError('required') &&
          form.controls['banner_slogan'].touched ) {
          <mat-error>Este campo es obligatorio*.</mat-error>
          }
        </mat-form-field>
        <br />
        <mat-label>Imagen de fondo</mat-label>
        <div class="file-upload">
          @if(source){
          <img
            [src]="source.image"
            width="140px"
            height="140px"
            style="object-fit: cover"
            alt=""
          />
          <br />
          }
          <label for="file-input" class="custom-file-upload">
            <mat-icon>attach_file</mat-icon> Seleccionar archivo
          </label>
          <input
            id="file-input"
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <span>{{ fileName || "Ningun archivo seleccionado" }}</span>
        </div>
      </mat-dialog-content>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> CUENTA REGRESIVA </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-dialog-content class="mat-typography">
        <mat-form-field class="example-full-width">
          <mat-label>Agrega una descripción para tu cuenta regresiva</mat-label>
          <textarea formControlName="countdown_title" matInput ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Selecciona fecha del evento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="countdown_date" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Selecciona la hora de inicio de tu evento</mat-label>
          <input matInput type="text" formControlName="countdown_start_time" [ngxTimepicker]="pickerStartTime">
          <ngx-material-timepicker #pickerStartTime></ngx-material-timepicker>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Selecciona la hora final de tu evento</mat-label>
          <input matInput type="text" formControlName="countdown_end_time" [ngxTimepicker]="pickerEndTime">
          <ngx-material-timepicker #pickerEndTime></ngx-material-timepicker>
        </mat-form-field>
      </mat-dialog-content>
      
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> EN DONDE ES EL EVENTO? </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>Agrega un título llamativo para esta sección</mat-label>
        <input matInput type="text" formControlName="where_title">
      </mat-form-field>
      <p>{{where_event_date_labeL}}</p>
      <mat-form-field appearance="fill">
        <mat-label>¿Dónde será tu evento?</mat-label>
        <input matInput type="text" formControlName="where_address_label"   [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of where_address_list_options; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
        @if (form.controls['where_address_label'].hasError('required') &&
        form.controls['where_address_label'].touched ) {
        <mat-error>Este campo es obligatorio*.</mat-error>
        }  
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Agrega indicaciones para el botón de "Cómo llegar" de esta sección</mat-label>
        <textarea formControlName="where_indications" matInput ></textarea>
        @if (form.controls['where_indications'].hasError('required') &&
        form.controls['where_indications'].touched ) {
        <mat-error>Este campo es obligatorio*.</mat-error>
        }
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> ALBUM DE FOTOS </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> CONFIRMACIÓN DE ASISTENCIA </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>CODIGO DE VESTIMENTA</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>REDES SOCIALES</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>TU PLAYLIST</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>REGALOS</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancelDialog('80ms', '40ms')">
      Cancelar
    </button>
    <button mat-button type="submit" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</form>
