.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form_child {
    width: 600px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    input {
      width: 100% !important;
    }
    p {
      font-size: 18px !important;
      margin: 8px;
    }
  }
}
