<div class="container">
  <h1>Registra tu negocio</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @for (input of inputs; track $index) {
    <div class="form_child">
      <p>
        {{ input.label }}
        @if (input.required) {
        <span style="color: red">*</span>
        }
      </p>
      <input
        class="form_input"
        [type]="input.type"
        [formControlName]="input.FormControlName"
        [autocomplete]="input.autocomplete"
      />
      @for (validator of input.validators; track $index) { @if (
      form.get(input.FormControlName)?.hasError(validator.type) &&
      form.get(input.FormControlName)?.touched) {
      <div class="error-message">{{ validator.message }}</div>
      } }
    </div>
    }

    <phone-input (phone)="onChangePhone($event)"></phone-input>
    <date-input
      (dateSelected)="onChangeDate($event)"
      [data]="{
        title: 'Fecha de nacimiento',
        formControlName: 'fecha_nacimiento'
      }"
    ></date-input>

    <div class="form_child">
      <p>
        Nombre del negocio
        <span style="color: red">*</span>
      </p>
      <input
        class="form_input"
        type="text"
        [formControl]="businessName"
        autocomplete="off"
      />
      @if ( businessName.hasError("required") && businessName.touched) {
      <div class="error-message">El nombre del negocio es obligatorio.</div>
      }
    </div>

    <radio-input [options]="options" (changeOption)="changeTipoNegocio($event)"></radio-input>

    
  </form>
</div>
