@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
h3{font-size: 22px!important;}
.content{
  height: 97vh;
  width: calc(100vw - 270px);
  margin-left: 260px;
  margin-right: 10px;
  margin-top: 10px;
  @media (max-width: 1025px){
    margin-left:20px;
    margin-top: 70px;
    width: 85vw;
  }
}
.form_list{
  padding: 20px;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 1025px){
    width: 400px;
  }
}


.table_grid {
  border-collapse: collapse;
  width: 70%;
}

.icon_container {
  display: flex;
  justify-content: space-between;
}

.table_grid th,
.table_grid td {
  padding: 8px;
  text-align: left;
}

.table_grid th {
  background-color: #b21e36;
  color: white;
}

.table_grid tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table_grid tr:hover {
  background-color: #e0e0e0;
}

/* Media query para pantallas de 320px o más */
@media screen and (min-width: 340px) {
  .table_grid {
    width: 100%; /* Ajusta el ancho al 100% para pantallas pequeñas */
  }
  
}
@media screen and (max-width: 430px) {
  .table_grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
  }
  .table_grid th,
  .table_grid td {
    min-width: 220px;
    max-width: 220px;
    font-size: 12px;
  }
  
}
.btn_primary {
  margin: 5px;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #b21e36;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn-disabled {
  background: rgba(178, 30, 54, 0.5); 
  color: rgba(255, 255, 255, 0.7); 
  cursor: not-allowed; 
}

.btn_download_csv {
  margin: 5px;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #80b759;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn_icon {
  margin: 5px;
  border-radius: 50%;
  font-size: 16px;
  padding: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #b21e36;
  color: white;
  font-weight: 600;
  cursor: pointer;
}


.search-container {
  display: flex;
  align-items: center;

}

.search-input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filtros {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; 
  width: 99%;
  flex-direction: column;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 70%; 
  grid-gap: 0px;
}

.input-group {
  margin-right: 10px;
  flex: 1;
}

.button-group {
  align-self: flex-end;
  margin-top: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group select {
  width: calc(100% - 10px); 
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.filtros hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.filtros input[type="button"] {
  margin-left: auto;
  margin-right: 30px;
  background-color: #b21e36;
  color: #fff;
  border: 0;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
}
.buttons{
  display: flex;
  margin-bottom: 20px;
}



.file-upload {
  position: relative;
  margin-bottom: 16px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #303f9f;
}

#file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

span {
  margin-left: 8px;
}
